@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:ital,wght@1,200&display=swap');
.header{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('home.jpg');
	background-position: center;
	background-size: cover;

}
body{
	font-family: 'Montserrat', sans-serif;
}
	

.header .nav1 a{
	color: rgb(255,255,255);
	text-decoration: none;
	margin-top: 20px
}
li{
	display: inline-block;
	font-size: 20px
}
a{
	padding: 20px


    
}
h1{
	color: rgb(255,255,255);
	text-align: center;
	padding-top: 50px

}
p{
	display: inline-block;
	color: rgb(255,255,255);
	
	



	
}
.mohit{
	text-align: center;
	

}












	


	

