@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&family=Noto+Sans:ital@1&family=Poppins:wght@200&display=swap');
.main-heder{
background-color:rgb(218,247,166);
}
.backgroundcolor{
	background-color: rgb(172, 234, 132);
}
.bgcolor{
	background-color: rgb(199,241,200);
}
.background{
	background-color: rgb(146, 235, 222);
}
.text{
	color: rgb(255,0,0);
}

.font1{
font-family: 'Montserrat', sans-serif;	
}	
.spancolor2{
	background-color: rgb(199,237,235);
}

.font{
font-family: 'Noto Sans', sans-serif;
}
.text1{
	color: rgb(88, 24, 69 );
}
.spancolor1{
	background-color: rgb(199,237,235);
}
	
.spancolor{
	background-color: rgb(199, 237, 235);
}
.paytmcolor{
	background-color: rgb(237, 95, 100);
}
.phonepaycolor{
	background-color: rgb(237, 95, 100);
}
